@import url("https://fonts.googleapis.com/css?family=DM+Sans:400,500,700&display=swap");

html {
  background: rgb(2,0,36);
  background: -moz-linear-gradient(180deg, rgba(2,0,36,1) 0%, rgba(51,52,54,1) 51%, rgba(197,207,209,1) 100%);
  background: -webkit-linear-gradient(180deg, rgba(2,0,36,1) 0%, rgba(51,52,54,1) 51%, rgba(197,207,209,1) 100%);
  background: linear-gradient(180deg, rgba(2,0,36,1) 0%, rgba(51,52,54,1) 51%, rgba(197,207,209,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#020024",endColorstr="#c5cfd1",GradientType=1);
  max-width: 100%;
  
}

.title {
  color: white;
}

.title:not(:last-child) {
  margin-bottom: 0;
}
.columns:last-child {
  margin-bottom: 0;
}
ul{
  display: flex;
  flex-direction: column;
}

ul button {
display: inline-block;
text-wrap: wrap;
white-space: normal;
}

#user-input.columns {
  margin-top: 0;
  margin-left:0;
  margin-right: 0;
}

.columns {
  margin-left: 1rem;
  margin-right: 1rem;
  margin-top: 1rem;
}

.card {
  /* position: absolute;
  margin: auto;
  transition: transform .4s ease;
  cursor: pointer;
  border-radius: 10px; */

  display: flex;
  flex-wrap: wrap;
  position: absolute;
  width: 80vw;
  max-height: 100vh;
  left: 0;
  right: 0;
  margin: auto;
  transition: transform .4s ease;
  cursor: pointer;
  border-radius: 10px;
  color: white;
  background: rgb(32,31,50);
  background: -moz-linear-gradient(180deg, rgba(32,31,50,1) 0%, rgba(62,65,70,1) 53%, rgba(197,207,209,1) 100%);
  background: -webkit-linear-gradient(180deg, rgba(32,31,50,1) 0%, rgba(62,65,70,1) 53%, rgba(197,207,209,1) 100%);
  background: linear-gradient(180deg, rgba(32,31,50,1) 0%, rgba(62,65,70,1) 53%, rgba(197,207,209,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#201f32",endColorstr="#c5cfd1",GradientType=1);
}

.card-video{
  min-width:60%;
}

.lyrics-section {
  overflow: auto;
  min-width:40%;
}
.section {
  height: 64vh;
  padding: 0;
}

.slider, .slider-container{
  box-sizing: border-box;
  margin: 2%;
  padding: 0;
  width: 100%;
  height: 100vh;
 }

.container {
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.btn-favorite {
  position: relative;
  z-index: 2;
}

iframe {
  position: relative;
  z-index: 1;
}

.slider-navigation-next svg, .slider-navigation-previous svg {
  width: 25%;
}

.slider-navigation-next, .slider-navigation-previous {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  width: 42px;
  height: 42px;
  background: #fff center center no-repeat;
  background-size: 20px 20px;
  border: 1px solid #fff;
  border-radius: 25091983px;
  box-shadow: 0 2px 5px #3232321a;
  top: 50vh;
  left: 5vh;
  cursor: pointer;
  transition: opacity .3s,-webkit-transform .3s;
  transition: transform .3s,opacity .3s;
  transition: transform .3s,opacity .3s,-webkit-transform .3s;
}

.slider-navigation-next {
  left: auto;
  right: 5%;
  background: #fff center center no-repeat;
  background-size: 20px 20px;
}

ul li {
  text-wrap: wrap;
}

#favorites {
  color: wheat;
  font-weight: bolder;
  font-size: 20px;
}

#results-container{
  width: 80vw;
}

/* On screens that are 600px or less, set the background color to olive */
@media screen and (max-width: 600px) {

  html {
    margin: 1%;
    justify-content: center;
  }

  .card{
    min-width: 100%;
    min-height: 60vh;
  }
  .card-video {
    min-width: 100%;

  }

  .lyrics-section {
    min-width: 100%;

  }
}